:root{
    --blue:rgb(44, 114, 184);
    --black:black;
    --green:green;
    --red:red;
    --gray:lightgray;
    --white:white;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(24deg,var(--white),var(--gray)) ;
    font-family: sans-serif;
    color: var(--white);
}

.mynav {
    padding: 30px;
    background-color: var(--blue);
    
    margin-top: 0;

}

.mynav li{
  list-style-type: none;
  display: inline;
  
}

.mynav a{
    text-decoration: none;
    padding: 20px;
    color: var(--white);
    border:1px solid var(--gray);
    border-radius: 7px;
}

.mynav a:hover{
    
    background-color: var(--white);
    color:var(--blue);
}


.container{
min-height: 80vh;
display: flex;
align-items: center;
justify-content: center;
}

.main{
    background-color: var(--white);
    padding: 10%;
}