:root{
    --white:white;
    --green:green;
    --blue:dodgerblue;
    --red:red;
    --radius:7px;
    --gray:lightgray;
    --black:rgba(0, 0, 0, 0.24);
}

body{
    background-color: var(--black);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.logo{
    color: var(--white);
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: cursive;
}
.mynav{
    background-color:var(--blue);
    /* box-shadow: 5px 5px 5px 5px var(--black); */
    margin-top: 0;
    padding:20px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.mynav li{
    list-style: none;
    display: inline;
}

.mynav a{
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    border:1px white solid;
    border-radius: var(--radius);
    
}

.navbtn:hover{
    background-color: var(--white);
    color: var(--blue);
}

.main{
    min-height: 80vh;
    padding: 5%;
    background-color: var(--white);
}

footer{
    background-color: var(--blue);
    padding: 20px;
    color: var(--white);
}
.form{
    width: 50%;
    margin: auto;
    border: 1px soid;
   
    text-align: center;
}
.mybtn{
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    padding: 10px;
    opacity: 30%;
}


.form a{
    color: var(--blue);
}
.long{
    width: 100%;
}

.post{
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 5px;
    margin-top: 20px;
    width: 80%;
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.171);
    /* background-color: var(--black); */
    /* color: var(--white); */
}
.post-author{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding:0px;
}
.post-author h4{
    color: var(--white);
    padding-left: 10px;
}
.post-author span{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 7px;
}
.post-content{
 padding: 0px 20px 5px 20px;

}
.options{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: var(--blue);
}

.options a{
    color:var(--blue);
}