ul{
    list-style-type: none;
    padding: 20px;
}
.mynav{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
li{
    display: inline;
}
li a{
    margin: 20px;
    text-transform: uppercase;
    color: #ffff;
    padding: 20px;

}
.media{
  background-color: white;
  padding:20px;
  border-radius: 7px;
}

li :hover{
    background-color: #ffff;
    color: dodgerblue;
    text-decoration: none;
}

.main{
    background-color: lightgray;
    padding: 80px;
    border-bottom-right-radius: 300px;
}
.container{
    min-height: 500px;
}
.comment{
    display: flex;
}
.comment a{
    margin: 20px;
}
footer{
    padding: 25px;
}
