{% extends 'layout.html' %}
{% block body %}
    <div class="main">
        <h1>ABout Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi quasi obcaecati? Explicabo voluptatum dolorum vero iste dicta sapiente tempora odit et neque ipsam eos recusandae optio soluta est voluptates atque a, deserunt labore assumenda quam dolores rerum officiis. Voluptates distinctio nulla beatae incidunt minus voluptas error at, veniam quia doloribus dolorum possimus laudantium accusantium impedit quos aut vero, adipisci quo cumque molestiae fuga recusandae animi. Itaque nihil similique eveniet aliquid. Assumenda inventore aliquid quo est deleniti possimus quasi odit minus deserunt voluptates, aliquam esse iusto perspiciatis molestias ea laboriosam voluptatem natus repudiandae asperiores eius amet maiores quia. Minima, explicabo?</p>
    </div>
{% endblock body %}
    