<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>CoroBlog</title>
</head>
<body>
    <ul class=" mynav">
               <li class="logo">Coroblog</li>
       {% if current_user.is_authenticated %}
               <li><a href="{{url_for('home_page')}}" class="navbtn">Home</a></li>
               <li><a href="{{url_for('posts')}}" class="navbtn">Posts</a></li>
               <li><a href="{{url_for('log_out')}}" class="navbtn">Log out</a></li>
       {% else %}
                <li><a href="{{url_for('index')}}" class="navbtn">Home</a></li>
                <li><a href="{{url_for('about')}}" class="navbtn">About</a></li>
                <li><a href="{{url_for('login')}}" class="navbtn">Login</a></li>
                <li><a href="{{url_for('create_account')}}" class="navbtn">Register</a></li>
       {% endif %}

    </ul>

    <div class="main">
        {% block body %}

        {% endblock body %}
    </div>

<footer class="bg-primary">
    <center>CoroBlog &copy; 2019 </center>
</footer>
</body>
</html>
